{% extends 'layout.twig' %}

{% block title %}
    Game Release
{% endblock %}

{% block content %}
    <div class="mx-auto col-md-10">
        <img src="Assets/images/game_release.png"style="width:60%; height:60%;">
        <h1> {{Message}} </h1>
        <br />
        <br />
        <h3> The Game releases on October 30, 2018 at 2:30 pm</h3>
    </div>
{% endblock %}