{% extends 'layout.twig' %}

{% block title %}
    Main
{% endblock %}

{% block content %}
   
    <h2 align="center"> Aztec Game Studio </h2>
    <br />
    <p style="color:white" align="center"> This is a project for CS547 Programming in Scripting language. It is a website for a game studio developing indie games.</p>

    <br />
    <h4 align="center"> List of games</h4>
    <div class="row">
    <div class="card" style="width:50%">
        <img src="assets/images/game1.png" style="padding:10px;height:50%">
    </div>
    <div class="card">
        <img src="Assets/images/game2.jpg">
    </div>
    </div>

{% endblock %}